{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    													
<div class="container">
	<div class="row">
		<div class="col-md-6">
			{% for entry in entries %}
				<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
				<h5>Title</h5><input type="text" class="form-control" value="{{ entry.title }}" name=title>
				<h5>Author</h5><input type="text" class="form-control" value="{{ entry.author }}" name=author>
				<h5>Review</h5><textarea class="form-control" rows="3" name=review>{{ entry.review }}</textarea>
				<h5>Date Added</h5><input type="text" class="form-control" value="{{ entry.date_added }}" name=date_added>
				<h5>Date Read</h5><input type="text" class="form-control" value="{{ entry.date_read }}"name=date_read></br>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endfor %}

{% else %}	

<div class="alert alert-danger">You are not logged in.</div>

{% endif %}
	
{% endblock %}
