<!DOCTYPE html>	
<title>Bookshelf</title>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">	
	

	<div class="navbar navbar-static-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Bookshelf</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/addbook">Add a book</a></li>
            <li><a href="https://github.com/shijuleon/bookshelf">Github</a></li>
		{% if not session.logged_in %}<li><a href="{{ url_for('login') }}">Log In</a></li>{% else %}<li><a href="{{ url_for('logout') }}">Log Out</a></li>{% endif %}
        </div><!-- /.nav-collapse -->	
      </div><!-- /.container -->	
    </div><!-- /.navbar -->	
	
		
	
		
	
	{% for message in get_flashed_messages() %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
	{%block body %}{% endblock %}
</div>	
</div>																			
<html>
