<!DOCTYPE html>
<head>
<title>Bookshelf</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->	
<meta name="viewport" content="width=device-width, initial-scale=1">	
</head>

	

<div class="navbar navbar-default navbar-static-top" role="navigation">
      	<div class="container">
        <div class="navbar-header">
	          <a class="navbar-brand" href="/">Bookshelf</a>
        </div>
	
	<ul class="navbar-nav nav">	
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/addbook">Add a book</a></li>
            <li><a href="https://github.com/shijuleon/bookshelf">Github</a></li>
		{% if not session.logged_in %}<li><a href="{{ url_for('login') }}">Log In</a></li>{% else %}<li><a href="{{ url_for('logout') }}">Log Out</a></li>{% endif %}
	</ul>
	</div>	
      </div>
    </div>
	
		
	
		
	
	{% for message in get_flashed_messages() %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
	{%block body %}{% endblock %}
</div>	
</div>																			
<html>
